#grid {
  display: grid;
  gap: 150px;
  grid-template: repeat(16, 1fr) / repeat(2, 1fr); /* 16 rows × 2 columns = 32 slots */
  grid-auto-flow: column;
  margin: 10%;
}

#grid img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

body {
  background-color: #111111;
}
